<h1>{{title}}</h1>
<p>Velkommen til {{title}}</p>

<h2>Endpoints:</h2>
<p>/brugere - Viser en side med alle brugere hos BEC-Bank</p>
<p>/konti - Viser en side med alle konti og deres ejere hos BEC-Bank</p>
<p>/opret - Viser en side hvor man kan oprette en bruger</p>
<p>/login - Viser en side hvor man kan logge ind</p>