<h1>Velkommen til {{title}}</h1>
<p>Opret dig: </p>
<script src="../public/models/brugerModel.js"></script>
<form method="POST" action="opret/register">
    <input type="text" name="navn" value="Navn" id="navn"><br>
    <input type="text" name="email" value="Email" id="mail"><br>
    <input type="text" name="kodeord" value="Kodeord" id="kodeord"><br>
    <input type="submit" name="opret" value="Opret" id="opret">
</form>