body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-width:500px;
  max-width:700px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
input[type=text], input[type=button]{
  margin:10px 0px;
}
